// colors
$green: #8cc152;
$yellow: #e7dd4b;
$white: #fafafa;
$red: #ed5565;
$black: #656d78;
$blue: #4fc1e9;

// sizes
$bar-height: 50px;
$font-small: 12px;
$font-medium: 20px;
$font-large: 28px;
$global-radius: 3px;

// mixins
@mixin transition($duration: 0.5s) {
  transition: all $duration;
}

@mixin link($color, $hover-color, $border-size: null) {
  @include transition;

  padding: 8px 10px;
  color: $color;
  background-color: transparent;

  @if $border-size {
    border: solid $border-size $color;
    border-radius: $global-radius;
  }

  &:hover {
    color: $hover-color;
    background-color: $color;
  }
}

// classes
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%label {
  display: block;
  padding-bottom: 5px;
  font-size: $font-small;
  letter-spacing: 2px;
  text-transform: uppercase;
}

%link {
  @include link($white, $green, 1px);
  font-size: $font-small;
}

%link-primary {
  @include link($white, $green, 2px);
  font-size: $font-medium;
}

%input {
  @include transition;

  margin: 0;
  padding: 10px;
  border-radius: $global-radius;
  background-color: rgba($white, 0.8);
  color: $black;
  font-size: $font-medium;

  &:focus, &:hover {
    background-color: rgba($white, 1);
  }
}

// normalize
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button, input {
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  letter-spacing: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}
