.form {
  $margin: 20px;

  label {
    @extend %label;
  }

  input {
    @extend %input;
  }

  .field {
    margin-bottom: $margin;
  }

  .title {
    width: 100%;
  }

  .choices {
    ul li {
      @extend %two-col-list;
      position: relative;
    }
  }

  .choice {
    width: 100%;
    padding-right: 30px;

    &:focus, &:hover {
      & + .remove-choice {
        opacity: 1;
      }
    }
  }

  .remove-choice {
    @include link($red, $white);

    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 0 $global-radius $global-radius 0;
    font-size: $font-medium;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .add-choice {
    @extend %link;
  }

  .multiple-answers {
    text-transform: none;

    input {
      margin-right: 5px;
    }
  }

  .form-actions {
    text-align: center;

    button {
      @extend %link-primary;
    }
  }
}
