.form {
  $margin: 20px;
  $input-padding: 10px;

  label {
    @extend %label;
  }

  input {
    @include transition;

    margin: 0;
    padding: $input-padding;
    border-radius: $global-radius;
    background-color: rgba($white, 0.8);
    color: $black;
    font-size: $font-medium;

    &:focus, &:hover {
      background-color: rgba($white, 1);
    }
  }

  .field {
    margin-bottom: $margin;
  }

  .title {
    width: 100%;
  }

  .choices {
    ul li {
      $choice-margin: $margin / 2;

      position: relative;
      display: inline-block;
      width: calc(50% - #{$choice-margin / 2});
      margin: 0 $choice-margin $choice-margin 0;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  .choice {
    width: 100%;
    padding-right: 30px;

    &:focus, &:hover {
      & + .remove-choice {
        opacity: 1;
      }
    }
  }

  .remove-choice {
    @include link($red, $white);

    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: $input-padding;
    border-radius: 0 $global-radius $global-radius 0;
    font-size: $font-medium;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .add-choice {
    @extend %link;
  }

  .multiple-answers {
    text-transform: none;

    input {
      margin-right: 5px;
    }
  }

  .form-actions {
    text-align: center;
  }

  button[type="submit"] {
    @extend %link-primary;
  }
}
