.share {
  label {
    @extend %label;
    text-transform: none;
  }

  input {
    @extend %input;

    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  ul li {
    display: inline-block;
    margin: 0 5px;

    a {
      @extend %link-primary;

      display: block;
      width: 50px;
    }
  }
}
