.share {
  @extend %page;
  $margin: 10px;

  label {
    @extend %label;
    text-transform: none;
  }

  input {
    @extend %input;

    width: 100%;
    margin-bottom: $margin;
    text-align: center;
  }

  ul li {
    display: inline-block;
    margin: 0 0 $margin 0;

    & + li {
      margin-left: $margin;
    }

    a {
      @extend %link-primary;

      display: block;
      width: 50px;
    }
  }
}
