$bar-height: 50px;
$container-padding-width: 10px;
$container-padding-height: 5px;
$bar-container-height: $bar-height - $container-padding-height * 2;
$green-1: #8cc152;
$green-2: #b9df90;
$white: #fafafa;

@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol_Regular.otf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bariol';
  color: $green-1;
  background-color: $white;
}

.container {
  width: 100%;
  max-width: 970px;
  margin: auto;
  padding: $container-padding-height $container-padding-width;
}

header, footer {
  height: $bar-height;
}

.main {
  height: calc(100% - #{$bar-height} * 2);
  background-color: $green-1;
  background-image: linear-gradient(top, $green-1 0%, $green-2 100%);
}

header {
  $margin: 5px;
  $border-size: 2px;
  $header-line-height: $bar-container-height - $margin * 2;

  .title {
    display: inline-block;
    margin: $margin;
    padding: 0 8px;
    line-height: $header-line-height - $border-size * 2;
    font-size: 20px;
    letter-spacing: 1px;
    border: solid $border-size $green-1;
    border-radius: 10px;
    transition: all 0.5s;

    &:hover {
      color: $white;
      background-color: $green-1;
    }
  }

  .subtitle {
    float: right;
    margin: $margin;
    line-height: $header-line-height / 2;
    line-height: 15px;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1px;
  }
}

footer {
  line-height: $bar-container-height;
  font-size: 14px;
  text-align: center;

  a {
    border-bottom: dashed 1px $green-1;

    &:hover {
      border-bottom-style: solid;
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
