@import 'global';
@import 'home';

body {
  font-family: 'Bariol';
  letter-spacing: 1px;
  color: $white;
  background-color: $green;
  background-image: linear-gradient(135deg, $green 25%, $yellow 100%);

  & > * {
    position: relative;
  }
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2N8//59vaCgYCMDFDDCGBgCMJUYKgBfXQgFSjqxOAAAAABJRU5ErkJggg==');
}

.container {
  width: 100%;
  max-width: 970px;
  margin: auto;
  padding: $container-padding;
}

header, footer {
  height: $bar-height;
  font-size: $font-small;
}

header {
  background-image: linear-gradient(top, rgba(#000, 0.1), rgba(#000, 0));

  h1 {
    $border-size: 2px;

    display: inline-block;
    margin: 0;
    padding: 0 8px;
    border-radius: 10px;
    line-height: $bar-container-height - $border-size * 2;
    font-size: $font-medium;
    @include link($white, $green, $border-size);
  }

  p {
    float: right;
    display: inline-block;
    line-height: $bar-container-height / 2;
    text-align: right;
  }
}

footer {
  background-image: linear-gradient(top, rgba(#000, 0), rgba(#000, 0.1));
  line-height: $bar-container-height;
  text-align: center;

  a {
    border-bottom: dashed 1px lighten($green, 25%);

    &:hover {
      border-bottom-style: solid;
    }
  }
}

.main {
  height: calc(100% - #{$bar-height} * 2);
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
