@import 'global';
@import 'icomoon';
@import 'home';
@import 'poll';
@import 'share';
@import 'answer';
@import 'result';

body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  color: $white;
  background-color: $green;
  background-image: linear-gradient(135deg, $green 25%, $yellow 100%);
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2N8//59vaCgYCMDFDDCGBgCMJUYKgBfXQgFSjqxOAAAAABJRU5ErkJggg==');
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 970px;
  margin: auto;
  padding: 10px;
}

header, footer {
  height: $bar-height;
  font-size: $font-small;
}

header {
  $padding: 1px;
  background-image: linear-gradient(top, rgba(#000, 0.1), rgba(#000, 0));

  h1 {
    @extend %link-primary;

    display: inline-block;
    margin: 0;
    padding: $padding 8px;
  }

  p {
    float: right;
    display: inline-block;
    padding: $padding 0;
    text-align: right;
  }
}

footer {
  background-image: linear-gradient(top, rgba(#000, 0), rgba(#000, 0.1));
  text-align: center;

  .container {
    padding-top: 20px;
  }

  a {
    border-bottom: dashed 1px lighten($green, 25%);

    &:hover {
      border-bottom-style: solid;
    }
  }
}

.main {
  height: calc(100% - #{$bar-height} * 2);
}

#app {
  @extend %center;

  width: 100%;
  height: 100%;

  & > * {
    width: 80%;
    max-height: 100%;
    overflow: auto;
  }
}
